<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Define variables -->
	<variable name="logFileNameTimestamp" value="${date:format=yyyy-MM-dd_HH-mm-ss}" />
	<targets>
		<target name="logfile" xsi:type="File" fileName="Logs/logfile-${var:logFileNameTimestamp}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
		<target name="console" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,console" />
	</rules>
</nlog>